body {
    font-size: 1rem;
}
input {
    margin: 10px;
    border: none;
    border-bottom: 1px solid black;
}
input:focus {
    outline: 0;
}
h1, h2 {
    font-weight: 400;
}
button {
    background-color: #06d713;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    transition-duration: 150ms;
}

button:active {
    background-color: green;
}
label, button, br {
    user-select: none;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: red;
}