body {
    font-family: "Google Sans", "Helvetica Neue", Arial, sans-serif;
    height: auto;
    width: 100px;
    background-color: #dddddd;
}
* {
    text-align: center;
    font-size: 1rem;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: red;
}